.claimTitle {
    border: none !important;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 60%;
}

.claimInformation {
    border: none !important;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    width: 30%;
}

.personalInformation {
    border: none !important;
    margin: 0;
    padding: 0;
}

/* equivalent to h3 */
.personalInformation > legend:nth-child(1) {
    color: #444;
    font-family: "Helvetica Neue",Arial,FreeSans,sans-serif;
    font-size: 1.25em !important;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1.5em;
    padding: 0 !important;
}
